<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <title>Сatch me if you dare</title>
</head>
<body>
<div id="printTableRequest">
    <table>
    <form th:action="@{/}" th:object="${request}" method="POST"  >
    <td>Имя <input type="text" th:field="*{name}"/></td>
    <td> <input type="submit" th:value="Отправить"/></td>
        <p>
            <input type="button" onclick="history.back(-1); return false;" value="Назад"/>

        </p>
    </form>
    </table>
</div>
</body>
</html>


