<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>Сatch me if you dare</title>
</head>
<body>
<table >
    <tr>
        <td th:text="${exception}"></td>
    </tr>
    <tr>
        <td>Вероятность появления в %</td>
        <td th:text="${request}"></td>

    </tr>

    <tr th:each="r : ${allPersonRequest}">
        <td th:text="${r}"> </td>
    </tr>

        <td>
            <input type="button" onclick="history.back(-1); return false;" value="Назад"/>
        </td>
</table>



</body>
</html>